body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fff;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  h1 {
    margin: 0;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Light switch background */
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff; /* Light switch button */
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3; /* Dark switch background */
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .content {
    text-align: center;
    padding: 50px 0;
  }
  
  footer {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  